.screen {
    margin-top: 3%;
    margin-left: 10%;
    width: 80%;
    border: #8c8989 1px solid;
}

a {
    text-decoration: none;
    color: #127878;
}

a:hover{
    text-decoration: underline;
}


.header {
    margin-left: 10%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3%;
    border-bottom: 2px solid #ccc;
}

.name {
    display: flex;
    flex-direction: column;
    align-content: end;
}

.header h1 {
    font-size: 300%;
    color: #127878;
}

.header p {
    margin-top: -5%;
    font-size: larger;
    color: #8c8989;
}

.contacts {
    margin-top: 3%;
    border-left: 2px solid #ccc;
    display: flex;
    flex-direction: column;
}

.contacts ol{
    flex: 1 1 auto;
    margin-top: 1%;
    color: #8c8989;
}

.body {
    width: 55%;
    margin-top: -55%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
}

.edu-place p {
    color: #8c8989;
}

.certificate p{
    margin-top: -3%;
    color: #8c8989;
}

.info {
    display: flex;
    margin: 3% 0% 3% 0%;
    width: fit-content;
    padding-bottom: 5%;
    border-bottom: 2px solid #ccc;
}

.info img{
    border-radius: 60%;
    margin-right: 5%;
    width: 20%;
}

.project {
    width: 60%;
}

.edu-place{
    width: 60%;
}

.edu-place h3 {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.edu-place p {
    margin-top: -4%;
}

.project p{
    margin-top: -3%;
}

.edu-place .date {
    color: #8c8989;
    font-size: medium;
    margin-top: 1%;
}

.another-info {
    border-left: 2px solid #ccc;
    width: 30%;
    padding-left: 3%;
    margin-top: 10%;
    margin-left: 70%;
}

.footer {
    border-top: 2px solid #ccc;
    margin: 5% 10% 5% 10%;
    padding-left: 35%;
    padding-top: 3%;
    font-size: larger;
}
